# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file #
root = true

# unix-style newlines with no newline ending for all files #
[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = false

# html #
[*.(htm|html)]
indent_size = 2